@charset "utf-8";

* {
    box-sizing: border-box;
}

html {
    background: url("../images/background1.jpg") no-repeat;
    height: 100%;
    margin: 0;
}


body {
    color: #DEC0B2;
    font-family: 'Josefin Sans', sans-serif;
    height: 100%;
    margin: 0;
}

#page-header {
    height: 2.5em;
    text-align: center;
    font-size: 2.3em;
    margin-top: -1em;
}

.nav-wrapper {
    background: #414C53;
}

.nav-wrapper #topnav {
    line-height: 2em;
    display: grid;
    grid-template-columns: repeat(6, .25fr);
    z-index: 99;
}

.content {
    padding: 1em;
}

.nav-wrapper #topnav.sticky {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    max-width: 1500px;
    min-width: 1200px;
}

.sticky+.content {
    padding-top: 3em;
}

ul#topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #414C53;
}

ul#topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul#topnav li.right {
    float: right;
}

ul#topnav li a:hover:not(.active) {
    background-color: #A99888;
}

ul#topnav li a.current {
    background-color: #333030;
}

#Mobilenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #A99888;
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.5s;
}

#Mobilenav a {
    padding: 10px 0px 6px 16px;
    text-decoration: none;
    font-size: 1.5em;
    color: #111;
    display: block;
    transition: 0.3s;
}

#Mobilenav ul {
    list-style-type: none;
}

#Mobilenav a:hover {
    color: #f1f1f1;
}

#Mobilenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 2em;
    margin-left: 45px;
}

#main {
    transition: .5s;
    padding: 20px;
}

#topimg {
    background-image: url("../images/bannerMAC.jpg");
    background-size: cover;
    background-position: center;
    color: #434242;
}

.IMGcontent {
    position: relative;
    padding: 20% 0 40% 0;
}

.text-center h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -100%);
    color: #DEC0B2;
    font-size: 3.5em;
    text-shadow: 4px 2px #111;
}

.responsive {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 2em;
    text-shadow: #222 3px 4px 2px;
}

.leftcol {
    float: left;
    width: 50%;
}

.rightcol {
    float: right;
    width: 45%;
    padding-right: 2em;
}

.col-75 {
    float: right;
    width: 75%;
}

.col-25 {
    float: left;
    width: 20%;
    margin-left: .9em;
}

.row::after {
    content: "";
    display: grid;
    clear: both;
}

#personalp {
    margin: 2%;
}

#navButton {
    display: none;
    background: url("../Images/ThreeLines.png") no-repeat;
    width: 34px;
    height: 34px;
    position: fixed;
    top: 0%;
    border: none;
    margin: 2%;
    z-index: 99;
}

@media screen and (max-width:1024px) {
    .leftcol {
        width: 100%;
        padding-right: 2em;
    }

    .rightcol {
        width: 100%;
        padding-right: 2em;
    }

    ul.topnav li {
        float: none;
    }

    .nav-wrapper {
        display: none;
    }

    #navButton {
        display: block;
    }

    .text-center h1 {
        font-size: 1em;
    }

}

@media screen and (max-width: 414px) {
    .text-center h1 {
        font-size: 1.25em;
        white-space: nowrap;
    }

    .column,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

#topBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: rgba(65, 76, 83, 0.7);
    /* Set a background color */
    color: rgba(255, 255, 255, 0.7);
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#topBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

#h3seperate {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: .5fr .5fr .5fr;
}

#textContainer {
    margin-left: 50px;
}

#skillsBar {
    margin: 2%;
}

.container {
    width: 100%;
    background-color: #DEC0B2;
}

.skills {
    text-align: right;
    padding: 10px;
    color: #DEC0B2;
}

.html {
    width: 95%;
    background-color: #4CAF50;
}


.css {
    width: 85%;
    background-color: #2196F3;
}


.javaScript {
    width: 30%;
    background-color: #f44336;
}

#map {
    height: 400px;
    width: 90%;
    margin-bottom: 3em;
}

input,
textarea {
    border-radius: 2em;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #333030;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #414C53;
}

.download-btn {
    background-color: #414C53;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

.download-btn:hover {
    background-color: #A99888;
}

.download-btn a {
    text-decoration: none;
    color: #DEC0B2;
}

#resume-download {
    margin: 2%;
}

#headshot {
    width: 250px;
    height: 325px;
    border-radius: 1em;
}

footer {
    background-color: #A99888;
    text-align: center;
    padding: 1em;
    color: #111;
}

#f-create {
    margin-top: 1em;
}

.paragraph {
    text-indent: 1.5em;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

#contentdiv {
    display: none;
}