@charset "utf-8";

html {
    background-color: #3C3C3B;
}

body {
    color: #DEC0B2;
    font-family: 'Josefin Sans', sans-serif;
}

#portfolio {
    color: #DEC0B2;
    padding-left: 50px;
}

.topnav {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, .25fr);
    padding-bottom: 100px;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #414C53;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li.right {
    float: right;
}

ul.topnav li.right {
    float: right;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

/* ul.topnav li a.active {background-color: navy;} */
ul.topnav li.right {
    float: right;
}

.container {
    position: relative;
    text-align: center;
    color: #DEC0B2;
    text-shadow: 2px 2px 3px #111;
    margin-top: 20px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
}

.responsive {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 2em;
}

.leftcol {
    float: left;
    width: 50%;
}

.rightcol {
    float: right;
    width: 45%;
}

.row::after {
    content: "";
    display: grid;
    clear: both;
}

#personalp {
    text-align: center;
    margin: 0px 200px 0px 200px;
}

@media screen and (max-width:600px) {
    .leftcol {
        width: 100%;
    }

    .rightcol {
        width: 100%;
    }

    #personalp {
        margin: 0px;
    }

    .topnav {
        display: block;
        width: 100;
    }

    ul.topnav li {
        float: none;
    }

    #portfolio {
        text-align: center;
    }

}

#topBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #414C53;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#topBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

#h3seperate {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: .5fr .5fr .5fr;
}